body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.img-bg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video{
  object-fit: cover;
}

.video-banner {
  height: 60vh;
}

@media (width <= 768px) {
  .video-banner {
    height: 25vh;
  }
}